# Dependencies
node_modules/

# Environment variables
.env

# Firebase credentials
serviceAccountKey.json
*.pem

# Logs
logs/
*.log

# OS metadata
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/